<div class="w3-cell-row">
  <div class="w3-cell w3-container">
    <p>
      <div>Commenter: <%= comment.user.username %></div>
      <div>Comment: <%= comment.body %></div>
      <div>Likes: <%= comment.likes.count%></div>
      <div><%= link_to 'Destroy Comment', [comment.meme, comment],
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
      </div>
    </p>
  </div>
</div>