<p>
  <strong>Commenter:</strong>
  <%= comment.user.username %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Destroy Comment', [comment.meme, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
<p>
  <li><%= link_to "Edit", model: comment, url: meme_path(comment.meme) %></li>
</p>

