<!--.variant(resize_to_limit: [200,200])-->
<p><%= image_tag Meme.find(params[:id]).image %></p>

<p><%= Meme.find(params[:id]).lang %></p>

<h2>Comments</h2>
<%= render Meme.find(params[:id]).comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>