#main-part-memes-title.row.mb-4
  .col-12
    %span.fs-1 The latest memes
    %span.mx-2 /
    %span
      %a{:href => "#"} best today
    %span.mx-2 /
    %span
      %a{:href => "#"} best week
    %span.mx-2 /
    %span
      %a{:href => "#"} best month
    %span.mx-2 /
    %span
      %a{:href => "#"} best all time