#loginModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "loginModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-fullscreen-sm-down
    .modal-content
      .container
        .row
          .col-12.d-flex.justify-content-end.mt-3
            %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
          .col-12.d-flex.justify-content-center.mb-4
            %h3.fw-light Member Login
          .col-12.px-5
            = form_with model: User, url: user_session_path do |f|
              .mb-3
                = f.email_field :email, required: true, placeholder: "Your email", class: "form-control", id: "signupEmail"
              .mb-3
                = f.password_field :password, required: true, placeholder: "Your password", minlength: 6, class: "form-control", id: "signupPassword"
              = f.submit "Login", class: "btn btn-primary w-100 rounded-pill"
          .col-12.mt-3
            %hr.w-100/
          .col-12.d-flex.justify-content-center.mb-1.mt-1
            %span
              Not a member yet?
              %a{"data-bs-dismiss" => "#loginModal",
                 "data-bs-target" => "#signupModal",
                 "data-bs-toggle" => "modal",
                 :href => "#"} Sign Up.
          .col-12.d-flex.justify-content-center.mb-4.mt-1
            %span
              %a{"data-bs-dismiss" => "#loginModal",
                 "data-bs-target" => "#resetPasswordModal",
                 "data-bs-toggle" => "modal",
                 :href => "#"} Forgot password?