%nav.navbar.navbar-light.bg-light-blue.navbar-expand-lg.fixed-top.hidden-xs.hidden-sm
  .container-fluid
    %a#h-logo.navbar-brand{:href => "#"} WEP-MS
    %button.navbar-toggler{"aria-controls"  => "offcanvasNavbar",
                           "data-bs-target" => "#offcanvasNavbar",
                           "data-bs-toggle" => "offcanvas",
                           :type => "button"}
      %span#h-toggler-icon.navbar-toggler-icon
    #offcanvasNavbar.offcanvas.offcanvas-end.bg-light-blue{"aria-labelledby" => "offcanvasNavbarLabel", :tabindex => "-1"}
      .offcanvas-header.mb-0.pb-0
        %h5#offcanvasNavbarLabel.offcanvas-title Menu
        %button.btn-close.text-reset{"aria-label" => "Close",
                                     "data-bs-dismiss" => "offcanvas",
                                     :type => "button"}
      .offcanvas-body
        %ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
          %li#lang-selector.nav-item.dropdown.px-0.py-0
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded"  => "false",
                                                               "data-bs-toggle" => "dropdown",
                                                               :href => "#",
                                                               :role => "button"}
              %img{:src => "/images/lang-usa.png"}/
            %ul.dropdown-menu.bg-light-blue{"aria-labelledby" => "navbarDropdownMenuLink"}
              %li
                %a.dropdown-item{:href => "#"}
                  %img.me-1{:src => "/images/lang-usa.png"}/
                  English
              %li
                %a.dropdown-item{:href => "#"}
                  %img.me-1{:src => "/images/lang-germany.png"}/
                  Germany
          %li.nav-item
            = link_to "Sign Out",
                      destroy_user_session_path,
                      method: :delete,
                      class: "nav-link my-0 py-0"