.container-md.mt-5.pt-1
  .row
    .col-12.d-flex.align-items-center.justify-content-center
      %nav{"aria-label" => "Page-navigation"}
        %ul.pagination
          %li.page-item
            %a.page-link{"aria-label" => "Previous", :href => "#"}
              %span{"aria-hidden" => "true"} «
          %li.page-item
            %a.page-link{:href => "#"} 1
          %li.page-item
            %a.page-link{:href => "#"} 2
          %li.page-item
            %a.page-link{:href => "#"} 3
          %li.page-item
            %a.page-link{:href => "#"} 4
          %li.page-item
            %a.page-link{:href => "#"} 5
          %li.page-item
            %a.page-link{:href => "#"} 6
          %li.page-item
            %a.page-link{"aria-label" => "Next", :href => "#"}
              %span{"aria-hidden" => "true"} »